/* input::placeholder {
    color: #FFFFFF;
}

input {
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
}

input[type=number]:focus {
    width: 250px;
    border: 1px solid #FFFFFF !important;

}

input:focus,
input:active {
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
} */

.btn-secondary {
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
    background-color: transparent !important;
}